header{
	text-align: center;
}

table{
	text-align: center;
	border: solid black 2pt;
}

#option1{
	position: absolute;
	left: 15pt;
	top: -2pt;
}

#logo{
	text-align: center;
	width: 200pt;
}

#info{
	text-align: center;
}

#info button{
	margin: 5pt 10pt 5pt 10pt;
	width: 20%;
	background-color: greenyellow;
	border: none;
}

.tableIcon{
	width: 125pt;
	height: 125pt;
	background-color: grey;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}

span{
	margin: 10pt 10pt 0 10pt;
}

#settingsBtn{
	width: 50pt;
}

#dropdown{
	display: none;
	background-color: white;
	border: solid black 2pt;
	text-align: center;
	padding-bottom: 20pt;
	margin: -8pt 0 0 -8pt;
	height: 100%;
	width: 30%;
	position: fixed;
	top: 8pt;
}

#bill td, th{
	margin: 0 50pt 0 50pt;
}