@media only screen and (min-width: 1000px){
	body{
		font-size: 20pt;
		overflow-x: hidden;
	}

	#navbar{
		height: 75pt;
		z-index: 3;
		position: relative;
		transform: rotate(0deg);
	}

	#logo{
		margin-top: -12pt;
		margin-left: 5pt;
		width: 100pt;
		height: 100pt;
	}

	#hamburger_btn{
		display: none;
	}

	#navbar_menu{
		filter: alpha(opacity=100);
		opacity: 1.0;
		background: none;
		height: 250pt;
		padding-top: 15pt;
	}

	.link{
		display: inline-block;
		font-size: 20pt;
		padding: 0 10pt 0 10pt;
	}

	#properties_dropdown_link{
		font-size: 30pt;
		margin: 0 0 0 -10pt;
		cursor: pointer;
		display: inline-block;
	}
	
	#properties_dropdown_link:hover{
		transition: 0.5s;
		color: #EAD160;
	}

	#properties_dropdown{/* Height: 1172 */
		margin: 0;
		border: solid 1pt #969696;
		width: 160pt;
		position: absolute;
		top: 75pt;
		left: 415pt;
		z-index: 300;
		transform: rotate(0deg);
	}

	#properties_dropdown .link{
		display: block;
		padding-top: 10pt;
		border-bottom: solid 1pt #969696;
		font-size: 15pt;
	}

	/* Page content */
	#header_banner{
		text-align: left;
		padding: 0 75pt 0 75pt;
		margin: 0 10pt 0 10pt;
	}

	#banner_sub_header{
		display: none;
	}
	
	#banner_sub_header_desktop{
		color: black;
		text-align: center;
		margin-top: -10pt;
		display: block;
	}
	
	#property_title{
		display: none;
	}
	
	#property_title_desktop{
		display: block;
		text-align: center;
		color: black;
	}

	.btn{
		transition: 0.5s;
		padding: 10pt;
		font-size: 20pt;
		border: solid white 4pt;
		cursor: pointer;
	}
	
	.btn:hover{
		transition: 0.5s;
		border: solid black 4pt;
		background-color: white;
		color: black;
	}

	.btn img{
		width: 35pt;
		height: 35pt;
	}
	
	#property_info_view{
		background-image: linear-gradient(to right, white, #969696);
		padding-bottom: 25pt;
		width: 45%;
		height: 550pt;
		position: absolute;
		top: 75pt;
		right: -10pt;
	}

	.info{
		padding: 0 75pt 0 75pt;
		margin: 0 10pt 0 10pt;
	}

	.info table{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
	}

	.info th, .info td{
		padding: 5pt;
		border: solid black 5pt;
	}
	
	#values{
		margin: 40pt -91pt 0 -91pt;
		padding-bottom: 0;
	}
	
	#values h2{
		margin-left: 0;
	}
	
	#covid_disclaimer{
		padding-top: 0.5pt;
	}

	.info ul{
		margin-left: 0;
	}
	
	#table_info, #table_info .btn{
		border: solid black 5pt;
	}
	
	.info li{
		transition: 1s;
		display: inline-block;
		width: 200pt;
		padding: 30pt;
		margin-left: -25pt;
		text-align: center;
	}

	footer{
		font-size: 13pt;
		padding: 0 0 20pt 0;
		margin-top: 50pt;
		margin-left: -10pt;
		z-index: 2;
		transform: rotate(0deg);
		position: relative;
	}

	footer img{
		width: 180pt;
		height: 180pt;
		margin: -15pt 0 -20pt 0;
	}
	
	#property_footer{
		margin-top: -25pt;
	}

	/* Property section views */
	#property_section_flippables{
		text-align: center;
		position: static;
	}
	
	.property_info #first_child{
		padding: 5pt 50pt 5pt 50pt;
	}

	.property_info #third_child{
		position: relative;
		bottom: 15pt;
	}

	/* The flip box container - set the width and height to whatever you want.*/
	.section_flippable {
		height: 250pt;
		width: 208pt;
		margin: 0;
		display: inline-block;
		padding: 0;
		padding-bottom: 115pt;
		position: static;
	}

	.section_flippable_front img{
		width: 208pt;
	}

	/* Style the back side */
	.section_flippable_back {
		padding-bottom: 107pt;
	}

	.section_flippable_back th, .section_flippable_back td, .section_flippable_back span{
		font-size: 20pt;
		padding: 0;
	}

	.section_flippable_back button{
		font-size: 20pt;
		width: 80%;
		height: 30pt;
		padding-top: 5pt;
		padding-bottom: 30pt;
		border: solid black 4pt;
	}

	.slide{
		position: relative;
		right: calc(50% - 178pt);
	}

	.slide img{
		margin-top: -1pt;
		width: 380pt;
	}

	.sub_info{
		display: none;
	}

	.guide{
		display: none;
		font-size: 80pt;
		padding-bottom: 0;
		margin-top: -15pt;
		position: relative;
		right: 150pt;
	}

	.dots{
		right: 10pt;
		bottom: 11pt;
	}

	.left_guide, .right_guide{
		font-size: 45pt;
		border-radius: 50pt;
		border: solid white 5pt;
		padding: 0 13pt 0 13pt;
		cursor: pointer;
	}
	
	.desktop_break{
		display: block;
	}
	
	#temp_form{
		border: solid #969696 5pt;
		border-radius: 80pt;
		width: 60%;
		height: 150pt;
		top: 20%;
		left: 16%;
	}

	#temp_form #exit_temp{
		cursor: pointer;
		font-size: 50pt;
		position: fixed;
		top: 25%;
		right: 22%;
	}
	
	iframe{
		border: solid white 5pt;
		margin: -20pt 0 0 -12.5pt;
		padding: 0 0 0 15pt;
	}
}

@media only screen and (min-width: 1500px){
	footer{
		margin-top: 120pt;
	}
	
	#property_footer{
		margin-top: -35pt;
	}
	
	.slide img{
		width: 32%;
	}
	
	#property_info_view{
		width: 60%;
		right: -4%;
	}
}