@media only screen and (min-width: 1000px){
	body{
		font-size: 20pt;
		overflow-x: hidden;
	}
	
	p{
		font-size: 16pt;
	}
	
	#anchor{
		width: 10%;
		left: 89%;
		top: 77.5%;
	}

	#navbar{
		height: 75pt;
		z-index: 3;
		border-bottom: solid grey 1pt;
		position: relative;
		transform: rotate(0deg);
	}

	#logo{
		margin-top: -16pt;
		margin-left: 5pt;
		width: 100pt;
		height: 100pt;
	}

	#hamburger_btn{
		display: none;
	}

	#navbar_menu{
		filter: alpha(opacity=100);
		opacity: 1.0;
		background: none;
		height: 75pt;
		padding-top: 13pt;
		padding-left: 125pt;
	}
	
	#site_title{
		font-size: 30pt;
		position: relative;
		top: 3pt;
		left: 0;
		margin-right: 15%;
	}

	.link{
		display: inline-block;
		font-size: 17pt;
		padding: 0 10pt 0 10pt;
		position: static;
	}

	/* Page content */
	#header_banner{
		text-align: left;
		padding: 0 75pt 0 75pt;
		margin: 0 10pt -10pt 10pt;
	}
	
	#header_banner h3{
		margin-bottom: -25pt;
	}

	#banner_sub_header{
		display: none;
	}

	.btn{
		padding: 10pt;
		font-size: 20pt;
		cursor: pointer;
	}

	.btn img{
		width: 35pt;
		height: 35pt;
	}
	
	#index_info{
		width: 40%;
	}

	.info{
		padding: 0 75pt 0 75pt;
		margin: 0 10pt 0 10pt;
	}
	
	.info ul{
		font-size: 16pt;
	}
	
	#washington_post{
		margin-bottom: -300pt;
	}
	
	#washington_post li{
		width: 50%;
	}
	
	.side_display{
		width: 370pt;
		padding: 4pt 3pt 0 3pt;
		position: relative;
		left: 58%;
		bottom: 115pt;
		margin-left: 0;
	}
	
	.side_display img{
		display: inline-block;
		width: 180pt;
	}
	
	#viewer_discretion{
		width: 370pt;
		height: 268pt;
		margin-top: -283pt;
	}
	
	#values{
		margin: -8pt -91pt 0 -91pt;
	}
	
	#values h2{
		margin-top: -25pt;
		margin-bottom: -30pt;
	}
	
	#values li{
		transition: 1s;
		display: inline-block;
		width: 200pt;
		padding: 30pt;
		margin-left: -25pt;
		text-align: center;
	}
	
	#important{
		border: solid black 5pt;
		box-shadow: 10px 10px 5px #aaaaaa;
		margin-top: 50pt;
	}
	
	#first_value{
		position: relative;
		bottom: 175pt;
	}
	
	#third_value{
		position: relative;
		bottom: 57pt;
	}
	
	.lake_swan{
		top: 480pt;
	}
	
	#transparent_wave{
		margin-top: 80pt;
		margin-bottom: -330pt;
	}
	
	#covid_disclaimer{
		padding-top: 0.5pt;
	}
	
	#table_info, #table_info .btn{
		border: solid black 2pt;
	}
	
	.parallax{
		min-height: 500px;
	}

	footer{
		font-size: 13pt;
		padding: 0 0 20pt 0;
		margin-top: 50pt;
		margin-left: -10pt;
		z-index: 2;
		transform: rotate(0deg);
		position: relative;
	}
	
	footer a{
		font-size: 13pt;
	}
	
	.info a, #mail_tag{
		font-size: 16pt;
	}

	footer img{
		width: 180pt;
		height: 180pt;
		margin: -15pt 0 -20pt 0;
	}
	
	#property_footer{
		margin-top: -25pt;
	}
	
	.slide{
		position: absolute;
		left: 55%;
		top: 82.5pt;
	}

	.slide img{
		width: 350pt;
		position: absolute;
		left: 55%;
		top: 82.5pt;
		padding: 3pt;
		border: solid black 5pt;
		box-shadow: 10px 10px 5px #aaaaaa;
	}
	
	.mobile_break{
		display: none;
	}
	
	.desktop_break{
		display: block;
	}
	
	.showcase_container{
		
	}

	.showcase_img{
		top: 0.8%;
		width: auto;
		height: 96%;
	}
	
	.showcase, .slide img{
		cursor: pointer;
	}

	#showcase_exit{
		left: 75%;
		top: calc(50% - 60pt);
		cursor: pointer;
	}
	
	#showcase_exit:hover, #showcase_exit:active{
		border: solid white 3pt;
		left: calc(75% - 3pt);
		top: calc(50% - 63pt);
	}
}

/*Tablet portrait*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	.lake_swan{
		top: 2175pt;
	}
	
	.showcase_img{
		top: 1%;
	}
	
	#showcase_exit{
		top: 60%;
	}
	
	#showcase_exit:hover, #showcase_exit:active{
		border: solid white 3pt;
		left: calc(45% - 6pt);
		top: calc(60% - 3pt);
	}
}

/*Tablet landscape*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
	body{
		font-size: 30pt;
	}
	
	p{
		font-size: 24pt;
	}
	
	#anchor{
		left: 85%;
		bottom: 4%;
	}
	
	#logo{
		width: 110pt;
		height: 110pt;
	}
	
	#navbar{
		width: 100%;
		height: 90pt;
		border-bottom: none;
	}
	
	#navbar_menu{
		
	}
	
	#site_title{
		font-size: 35pt;
		margin-right: 2%;
		left: 10pt;
		top: 5pt;
	}
	
	.link{
		font-size: 20pt;
	}
	
	#header_banner{
		padding: 0 25pt 0 15pt;
	}
	
	#index_info{
		width: 60%;
	}
	
	.info{
		padding: 0 25pt 0 15pt;
		width: 803pt;
	}
	
	.info ul, .info a{
		font-size: 24pt;
	}
	
	.side_display{
		left: 55%;
		bottom: 800pt;
	}
	
	#viewer_discretion{
		margin-top: -285pt;
	}
	
	#values{
		margin: -8pt 0 0 -32pt;
		width: 776pt;
	}
	
	#values h2{
		margin-top: -25pt;
		margin-bottom: -30pt;
	}
	
	#values h4{
		font-size: 35pt;
	}
	
	#values li{
		transition: 1s;
		display: inline-block;
		width: 200pt;
		padding: 30pt;
		margin-left: -25pt;
		text-align: center;
	}
	
	.lake_swan{
		top: 725pt;
	}
	
	#wave, #transparent_wave{
		margin: 0 0 0 -32pt;
		width: 900pt;
	}
	
	#transparent_wave{
		margin-bottom: -30pt;
	}
	
	.parallax{
		width: 893pt;
	}
	
	footer, footer a{
		font-size: 18pt;
	}
	
	footer{
		width: 895pt;
	}
	
	.slide{
		top: 130pt;
		left: 63%;
	}
	
	.slide img{
		top: 130pt;
		left: 63%;
	}
	
	.showcase_img{
		width: 98%;
		top: calc(1% + 1.5pt);
	}
	
	#showcase_exit{
		top: 3%;
		left: 89%;
		font-size: 50pt;
		padding: 10pt 30pt 10pt 30pt;
	}
	
	#showcase_exit:hover, #showcase_exit:active{
		left: calc(89% - 3pt);
		top: calc(3% - 3pt);
	}
}

/*Ipad pro portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
	body{
		font-size: 30pt;
	}
	
	p{
		font-size: 24pt;
	}
	
	#anchor{
		left: 85%;
		bottom: 4%;
	}
	
	#logo{
		width: 110pt;
		height: 110pt;
	}
	
	#navbar{
		width: 100%;
		height: 90pt;
		border-bottom: none;
	}
	
	#navbar_menu{
		
	}
	
	#site_title{
		font-size: 35pt;
		margin-right: 2%;
		left: 10pt;
		top: 5pt;
	}
	
	.link{
		font-size: 20pt;
	}
	
	#header_banner{
		padding: 0 25pt 0 15pt;
	}
	
	#index_info{
		width: 60%;
	}
	
	.info{
		padding: 0 25pt 0 15pt;
		width: 803pt;
	}
	
	.info ul, .info a{
		font-size: 24pt;
	}
	
	.side_display{
		left: 55%;
		bottom: 800pt;
	}
	
	#viewer_discretion{
		margin-top: -285pt;
	}
	
	#values{
		margin: -8pt 0 0 -32pt;
		width: 776pt;
	}
	
	#values h2{
		margin-top: -25pt;
		margin-bottom: -30pt;
	}
	
	#values h4{
		font-size: 35pt;
	}
	
	#values li{
		transition: 1s;
		display: inline-block;
		width: 200pt;
		padding: 30pt;
		margin-left: -25pt;
		text-align: center;
	}
	
	.lake_swan{
		top: 725pt;
	}
	
	#wave, #transparent_wave{
		margin: 0 0 0 -32pt;
		width: 900pt;
	}
	
	#transparent_wave{
		margin-bottom: -30pt;
	}
	
	.parallax{
		width: 893pt;
	}
	
	footer, footer a{
		font-size: 18pt;
	}
	
	footer{
		width: 895pt;
	}
	
	.slide{
		top: 130pt;
		left: 63%;
	}
	
	.slide img{
		top: 130pt;
		left: 63%;
	}
	
	.showcase_img{
		width: auto;
		height: 55%;
	}
	
	#showcase_exit{
		left: 46%;
	}
	
	#showcase_exit:hover, #showcase_exit:active{
		left: calc(46% - 3pt);
	}
}

/*Ipad pro landscape*/
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
	body{
		font-size: 30pt;
	}
	
	p{
		font-size: 24pt;
	}
	
	#anchor{
		left: 88%;
		bottom: 2%;
	}
	
	#logo{
		width: 125pt;
		height: 125pt;
	}
	
	#navbar{
		width: 100%;
		height: 90pt;
		border-bottom: none;
	}
	
	#navbar_menu{
		
	}
	
	#site_title{
		font-size: 40pt;
		margin-right: 2%;
		left: 15pt;
		top: 15pt;
	}
	
	.link{
		font-size: 30pt;
		position: relative;
		top: 12pt;
	}
	
	#header_banner{
		padding: 0 25pt 0 15pt;
	}
	
	#index_info{
		width: 60%;
	}
	
	.info{
		padding: 0 25pt 0 15pt;
		width: 1052pt;
	}
	
	.info ul, .info a{
		font-size: 24pt;
	}
	
	.side_display{
		left: 58%;
		bottom: 500pt;
	}
	
	#viewer_discretion{
		margin-top: -285pt;
	}
	
	#values{
		margin: -8pt 0 0 -32pt;
		width: 1025pt;
	}
	
	#values h2{
		margin-top: -25pt;
		margin-bottom: -30pt;
	}
	
	#values h4{
		font-size: 35pt;
	}
	
	#values li{
		transition: 1s;
		display: inline-block;
		width: 200pt;
		padding: 30pt;
		margin-left: -25pt;
		text-align: center;
	}
	
	.lake_swan{
		top: 690pt;
	}
	
	#wave, #transparent_wave{
		width: 1125pt;
	}
	
	#transparent_wave{
		margin-bottom: -328pt;
	}
	
	.parallax{
		width: 1140pt;
	}
	
	footer, footer a{
		font-size: 18pt;
	}
	
	footer{
		width: 1143pt;
	}
	
	.slide{
		top: 130pt;
		left: 68%;
	}
	
	.slide img{
		top: 130pt;
		left: 68%;
	}
	
	.showcase_img{
		width: 98%;
		top: calc(1% + 1.5pt);
	}
	
	#showcase_exit{
		top: 3%;
		left: 89%;
		font-size: 50pt;
		padding: 10pt 30pt 10pt 30pt;
	}
	
	#showcase_exit:hover, #showcase_exit:active{
		left: calc(89% - 3pt);
		top: calc(3% - 3pt);
	}
}

@media only screen and (min-width: 1500px){
	.lake_swan{
		top: 450pt;
	}
	
	#site_title{
		margin-right: 3%;
	}
}