body{
    font-family: Arial, Calibri, serif;
    text-align: center;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#merchandise{
    text-align: center;
}

#clothing, #gear{
    text-align: center;
    display: inline-block;
}

#aboutSec, #fightersBio, #facility, #scheduleDiv, #costs, #training, #sponsors{
    width: 80%;
    text-align: left;
    margin: auto;
}

.classes{
    width: 80%;
    text-align: left;
    margin: auto;
}

#scheduleDiv{
    text-align: center;
}

#schedule{
    margin-bottom: 10pt;
}

.imgAndInfo{
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-bottom: 20pt;
}

.sponsor img{
    border: solid black 2pt;
}

.imgAndInfo h1{
    text-align: left;
}

.imgAndInfo img{
    margin-right: 10pt;
    border: solid black 4pt;
    width: calc(40% - 20pt);
}

.imgAndInfo > div{
    margin-left: 10pt;
    width: calc(60% - 10pt);
    float: right;
    text-align: left;
}

#hamburgerBtn{
    display: none;
    position: absolute;
    top: 25pt;
    left: 25pt;
}

#hamburger{
    width: 35%;
    display: none;
    background-color: black;
    position: absolute;
    top: 50pt;
    left: 0;
    padding: 30pt;
    padding-bottom: 15pt;
}

#hamburger a{
    padding-top: 10pt;
    padding-bottom: 12pt;
    font-size: 18pt;
}

#hamburger img{
    text-align: center;
}

#navbar{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 65pt;
}

a.tab {
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

a.tab:hover{
    color: red;
    transition: 0.5s;
}

#navbar > a{
    margin-left: 1.5%;
    margin-right: 1.5%;
    position: relative;
    top: 20pt;
}

#fullLogoMobile{
    width: 100pt;
    border: none;
    padding-bottom: 10pt;
    display: none;
}

#logo img{
    background-color: red;
    position: relative;
    top: 6pt;
    right: 5%;
}

#socialMedia{
    float: right;
    position: relative;
    top: 20pt;
    right: 20pt;
}

#socialMediaMobile{
    text-align: center;
    margin: auto;
    margin-top: 15pt;
    padding-bottom: 100pt;
}

#socialMediaMobile td{
    padding-left: 15pt;
    padding-right: 15pt;
}

#facility{

}

#socialMedia img, #socialMediaMobile img{
    width: 25pt;
    height: 25pt;
}

header{
    margin-top: 53pt;
}

header img{
    width: 103%;
    position: relative;
    left: -6pt;
    top: 10pt;
}

header h1{
    color: white;
    position: absolute;
    top: 150pt;
    left: 100pt;
}

header button{
    position: absolute;
    top: 200pt;
    left: 100pt;
}

button.default{
    transition: 0.5s;
    border: solid 5pt black;
    padding: 10pt;
    color: white;
    background-color: red;
}

button.default:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: white;
}

#classes{
    margin-top: 75pt;
}

#sponsors{
    margin-top: 75pt;
    text-align: center;
}

table th, table tr, table td, table caption{
    border: solid 2pt black;
    text-align: center;
}

#trainingImgs{
    text-align: center;
}

.night{
    background-color: black;
    color: white;
    width: 101%;
    padding: 6pt;
    margin-left: -6pt;
}

#mainP div{
    width: 55%;
    position: relative;
    right: 15pt;
}

#mainP{
    padding-top: 100pt;
    margin-top: 30pt;
}

.blood{
    background-color: red;
    color: white;
    width: 100%;
    margin: auto;
    transform: rotate(-3deg);
}

.blood .slideshow{
    transform: rotate(3deg);
    margin-bottom: 40pt;
    position: relative;
    top: 5pt;
}

.blood img{
    border: solid white 2pt;
}

.blood .scheduleTime{
    background-color: lightgrey;
    color: black;
}

.blood .scheduleClass{
    background-color: white;
    color: black;
}

#memberships td, #memberships th{
    border: solid 1pt grey;
    padding: 8pt;
    transition: 0.5s;
}

#memberships td:hover, #memberships th:hover{
    background-color: red;
    transition: 0.5s;
}

@media only screen and (max-width: 750px){
    body{
        margin-left: 8%;
    }

    #socialMedia{
        display: none;
    }

    #teamBio div{
        width: 100%;
    }

    a.tab{
        display: none;
    }

    #hamburger{
        width: 60%;
        height: 100%;
        background-color: black;
        padding-bottom: 100%;
    }

    #hamburger a{
        font-size: 50pt;
        padding-top: 5%;
    }

    #socialMediaMobile img{
        width: 100pt;
        height: 100pt;
    }

    #hamburgerBtn{
        display: block;
        width: 45pt;
        cursor: pointer;
        position: absolute;
        top: 10pt;
        left: 10pt;
    }

    #navbar{
        display: inline-block;
    }

    #logo{
        text-align: center;
        margin: auto;
    }

    header{
        text-align: center;
    }

    header h1, header button{
        position: static;
        text-align: center;
    }

    header h1{
        color: black;
        margin-top: 50pt;
    }

    header img{
        margin-top: 2pt;
        width: 111%;
        margin-left: -7.5%;
    }

    .imgAndInfo{
        text-align: center;
        width: 80%;
    }

    .imgAndInfo img{
        width: 400pt;
        text-align: center;
        margin: auto;
    }

    .imgAndInfo > div{
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #logo img{
        width: 20%;
        margin-top: -5pt;
    }

    #fullLogo{
        display: none;
    }

    #fullLogoMobile{
        display: block;
    }

    #mainP{
        padding-top: 6pt;
        width: 100%;
        text-align: center;
    }

    #mainP div{
        position: static;
        text-align: center;
        margin: auto;
    }

    p, i, button, h1, h2, li{
        font-size: 35pt;
    }

    button{
        padding: 25pt;
    }

    #scheduleDiv, #memberships{
        width: 90%;
    }

    header h1, header a, #aboutSec, #trainerBios, #facility, #testimonials, #merchandise, #mainP div,
        #kultarBio, #teamBio{
        width: 100%;
    }
}