body{
    font-family: Arial, Calibri, serif;
    text-align: center;
    overflow-x: hidden;
}

#merchandise{
    text-align: center;
}

#clothing, #gear{
    text-align: center;
    display: inline-block;
}

#aboutSec, #fightersBio, #facility, #classes, #scheduleDiv, #costs, #training, #sponsors{
    width: 80%;
    text-align: left;
    margin: auto;
}

#scheduleDiv{
    text-align: center;
}

#schedule{
    margin-bottom: 10pt;
}

.imgAndInfo{
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-bottom: 20pt;
}

.sponsor img{
    border: solid black 2pt;
}

.imgAndInfo h1{
    text-align: left;
}

.imgAndInfo img{
    margin-right: 10pt;
    border: solid black 4pt;
    width: calc(40% - 20pt);
}

.imgAndInfo > div{
    margin-left: 10pt;
    width: calc(60% - 10pt);
    float: right;
    text-align: left;
}

#hamburgerBtn{
    display: none;
    position: absolute;
    top: 25pt;
    left: 25pt;
}

#hamburger{
    display: none;
    background-color: black;
    position: absolute;
    top: 50pt;
    left: 0;
    padding: 30pt;
    padding-bottom: 15pt;
}

#hamburger a{
    padding: 5pt 0 5pt 0;
}

#hamburger img{
    text-align: center;
}

#navbar{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 65pt;
}

a.tab {
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

a.tab:hover{
    color: red;
    transition: 0.5s;
}

#navbar > a{
    margin-left: 1.5%;
    margin-right: 1.5%;
    position: relative;
    top: 20pt;
}

#logo{
    background-color: red;
    position: relative;
    right: 20pt;
}

#socialMedia{
    float: right;
    position: relative;
    top: 20pt;
    right: 20pt;
}

#facility{

}

#socialMedia img, #socialMediaMobile img{
    width: 25pt;
    height: 25pt;
}

/* Starting div of each page (dismissing navbar) */
header{
    margin-top: 53pt;
}

header img{
    width: 101.5%;
    position: relative;
    left: -6pt;
    top: 10pt;
}

header h1{
    color: white;
    position: absolute;
    top: 150pt;
    left: 100pt;
}

header button{
    position: absolute;
    top: 200pt;
    left: 100pt;
}

button.default{
    transition: 0.5s;
    border: solid 5pt black;
    padding: 10pt;
    color: white;
    background-color: red;
}

button.default:hover{
    transition: 0.5s;
    cursor: pointer;
    color: black;
    background-color: white;
}

#classes{
    margin-top: 75pt;
}

#sponsors{
    margin-top: 75pt;
    text-align: center;
}

table th, table tr, table td, table caption{
    border: solid 2pt black;
    text-align: center;
}

#trainingImgs{
    text-align: center;
}

.night{
    background-color: black;
    color: white;
    width: 100%;
    padding: 6pt;
    margin-left: -6pt;
}

#mainP div{
    width: 55%;
    position: relative;
    right: 15pt;
}

#mainP{
    padding-top: 100pt;
    margin-top: 30pt;
}

.blood{
    background-color: red;
    color: white;
    width: 100%;
    margin: auto;
    transform: rotate(-3deg);
}

.blood .slideshow{
    transform: rotate(3deg);
    margin-bottom: 40pt;
    position: relative;
    top: 5pt;
}

.blood img{
    border: solid white 2pt;
}

/* mobile */
@media only screen and (max-width: 750pt) {
    #socialMedia{
        display: none;
    }

    a.tab{
        display: none;
    }

    #hamburgerBtn{
        display: block;
        width: 45pt;
        cursor: pointer;
        position: absolute;
        top: 10pt;
        left: 10pt;
    }

    #navbar{
        display: inline-block;
    }

    #logo{
        text-align: center;
        margin: auto;
        left: 1.5%;
    }

    header{
        text-align: center;
    }

    header h1, header button{
        position: static;
        text-align: center;
    }

    header h1{
        color: black;
        margin-top: 50pt;
    }

    .imgAndInfo{
        text-align: center;
        width: 80%;
    }

    .imgAndInfo img{
        width: 400pt;
        text-align: center;
        margin: auto;
    }

    .imgAndInfo > div{
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #fullLogo{
        display: none;
    }

    #mainP{
        padding-top: 6pt;
        width: 100%;
        text-align: center;
    }

    #mainP div{
        position: static;
        text-align: center;
        margin: auto;
    }
}