.slideshow{
    width: 75%;
    text-align: center;
    margin: auto;
}

.slideshow td{
    border: none;
    width: 250pt;
}

.slideshow img{
    width: 225pt;
}

.slideshowEl{
    display: inline-block;
}

.slideshowEl td{
    margin-left: 10pt;
    margin-right: 10pt;
}

.blood .leftArrow, .blood .rightArrow{
    color: white;
}

.leftArrow, .rightArrow{
    transition: 0.5s;
    color: black;
    margin: 10pt 10pt 20pt 10pt;
    font-size: 15pt;
    background: none;
    border: none;
    font-weight: 900;
    font-family: Elephant, serif;
}

.leftArrow:hover, .rightArrow:hover, .leftArrow:active, .rightArrow:active{
    transition: 0.5s;
    cursor: pointer;
    font-size: 20pt;
    margin-top: 5pt;
}

.rightArrow{
    position: relative;
    left: 150pt;
}

.leftArrow{
    position: relative;
    right: 150pt;
}