@media only screen and (min-width: 1000px){
	body{
		font-size: 20pt;
	}

	header img{
		width: 20%;
		margin-right: 75.5%;
	}

	#navbar{
		transition: margin 0.5s;
		display: inline;
		margin: -125pt 0 0 7%;
		background: none;
		z-index: 100;
	}

	#navbar-btn{
		display: none;
	}

	.link{
		display: inline;
		font-size: 25pt;
		padding-left: 5%;
		padding-right: 5%;
	}

	#slideshow{
		padding-top: 0;
	}

	#info{
		padding-top: 11.5%;
	}
	
	#info img{
		width: 25%;
		float: left;
		margin: 3% 4% 4% 0;
	}

	#photo-gallery img{
		width: 20%;
	}

	footer{
		font-size: 14pt;
		padding: 25pt;
	}

	footer a:active, footer a:hover{
		color: #9bffb2;
	}
}