body{
	margin: 0;
	font-family: Arial;
	background-image: url("../bg.jpg");
}

.info, .info_anim{
	transition: 0.4s;
}

.info_anim{
	margin-left: -50pt;
	filter: alpha(opacity=0);
	opacity: 0.0;
}

#sheet{
	background: rgba(255, 255, 255, 0.5);
	margin: 50pt;
	padding: 50pt;
}

#doc_display{
	display: none;
}

.doc_link{
	transition: 0.2s;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.doc_link:hover, .doc_link:active,
	.back_link:hover, .back_link:active{
	transition: 0.2s;
	color: black;
	padding-left: 6pt;
}

.back_link{
	transition: 0.2s;
	color: blue;
	font-size: 22pt;
	cursor: pointer;
}