body{
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Franklin Gothic Heavy', 'Eras Bold ITC', Calibri;
}

footer{
	margin-top: 10%;
	color: white;
	font-family: Impact, 'Bodoni MT Black', Arial;
}

a{
	transition: 0.5s;
	color: white;
}

a:hover, a:active{
	transition: 0.5s;
	color: #34e807;
}