.scroll_block .scroll_container{
	/*
	padding: 6pt;
	border: solid #604C8F 2pt;
	width: calc(100% - 12pt);
	height: 400pt;
	overflow-y: scroll;
	display: block;
	*/
	
	border-bottom: none;
	height: auto;
	display: block;
	/*height: 400pt;
	overflow-y: scroll;*/
	position: relative;
}

.scroll_container_overlap{
	position: absolute;
	border: solid #F3F3F3 6pt;
	display: none;
	border-top: none;
	border-bottom: none;
	background: none;
	pointer-events: none;
}

@media only screen and (min-width: 1025px){
	.scroll_block .scroll_container{
		overflow-y: hidden;
		height: auto;
	}
}