@media only screen and (min-width: 1025px) and (orientation: landscape){
	#office_index_link:hover, #office_index_link:active{
		transition: 0.4s;
		box-shadow: 0 0 1px #888888;
		background: none;
	}
}