#office_index{
	background: radial-gradient(white, #E6E6E6);
	box-shadow: 3px 5px 9px #888888;
	margin: 30pt 0 30pt 0;
}

#office_index_parallax{
	position: absolute;
	width: 100%;
	height: 128pt;
	background-image: url('../images/worklog.png');
	background-repeat: no-repeat;
	background-position: -12% 25%;
	background-size: 160pt;
}

#office_index img{
	transition: 0.4s;
	width: 125pt;
	position: relative;
	left: 10pt;
}

#office_index_link{
	transition: 0.4s;
	position: absolute;
	text-decoration: none;
	background: linear-gradient(to bottom, #E6E6E6, white, #E6E6E6);
	border-radius: 50%;
	box-shadow: 1px 3px 5px #888888;
	padding: 12pt 13pt 8pt 0;
	right: 20pt;
	margin-top: 36pt;
}

#office_index_link img{
	transition: 0.4s;
	width: 40pt;
	transform: rotate(270deg);
	left: 9pt;
}

#worklog_paragraph_index{
	transition: 0.4s;
}

.seemore{
	text-decoration: none;
	color: black;
	font-weight: 600;
}

@media only screen and (orientation: landscape){
	#office_index{
		margin: 25pt 0 25pt 0;
	}

	#office_index img{
		left: 14pt;
	}

	#worklog_paragraph_index{
		display: none;
	}

	#worklog_paragraph_index_parallax{
		transition: 0.4s;
		width: 175pt;
		position: relative;
		left: 125pt;
		top: 0;
		margin-top: 0;
	}
}